:root {
  --white: #f1f1f1;
  --black: #111111;
  --green: #55ff55;
  --blue: #1111ff;
  --red: #ff1111;
}

a {
  color: var(--black);
}

.sidebar-book a,
.sidebar-chapter a {
  color: var(--black);
}

.sidebar-book:hover a,
.sidebar-chapter:hover a {
  color: var(--black);
}

h1 a[title] {
  color: var(--blue);
}

.container-fluid > .row {
  margin-top: 1.8em;
}

.sidebar-book,
.sidebar-chapter {
  position: relative;
  overflow-y: visible;
  max-height: none;
}

#toc a.active {
  color: var(--black);
  background-color: var(--green);
}

#main-nav,
#toc {
  position: sticky;
  top: 1.8em;
}

.csl-entry {
  margin-bottom: 1em;
}

.bg-primary {
  background-color: var(--black) !important;
}

.thesis-cover p {
  text-align: center;
}
.thesis-cover img {
  width: 100%;
  box-shadow: 0 0 0 0.3rem var(--black);
}

.byline {
  margin-top: 2em;
}

.rmdcaution {
  text-align: center;
  /* border-radius: 2px;
  background: var(--red);
  color: var(--white); */
}
